<form [formGroup]="configForm">
  <div formGroupName="api">
    <div *ngFor="let prop of props">
      <label>{{ prop.key }}:</label>
      <input [type]="prop.type" [formControlName]="prop.key">
    </div>
  </div>
</form>
<!-- <form [formGroup]="configForm"
      novalidate>
  <div formGroupName="api">
    <label>
      PORT:
      <input type="number" formControlName="port">
    </label> 
    <br>
    <label>
      Secret: 
      <input type="text" formControlName="secret">
    </label>
    <br>
    <label>
      Token expiration time: 
      <input type="number" formControlName="token_expiration_time">
    </label>
    <br>
    <label>
      log_display_level: 
      <input type="text" formControlName="log_display_level">
    </label>
    <br>
    USER/S
    <div formArrayName="users" class="well well-lg">
      <div *ngFor="let user of users.controls; let i=index" [formGroupName]="i">
        <label>
          User #{{i + 1}}:
          <input class="form-control" formControlName="value">
        </label>
        
        <br>
      </div>
      <button (click)="addUser()" type="button">Add User</button>
    </div> 
  </div>
</form> -->

<hr>
<pre>Form value: {{ configForm.value | json }}</pre>
<br>
<pre>Form status: {{ configForm.status | json }}</pre>