<strong>{{ groupName }}:</strong>
<div [formGroup]="formParent">
  <div *ngFor="let prop of props">
    <app-custom-form-control *ngIf="prop.type === 'text'"
      [formParent]="formParent"
      [prop]="prop">
    </app-custom-form-control>

    <app-custom-form-array *ngIf="prop.type === 'array'"
      [formParent]="formParent"
      [prop]="prop">
    </app-custom-form-array>

    <app-custom-form-object *ngIf="prop.type === 'object'"
      [formParent]="formParent.controls[prop.key]"
      [propParent]="prop"
      [groupName]="prop.key">
    </app-custom-form-object>
  </div>
</div>