<div [formGroup]="formParent">
  <div *ngFor="let prop of props">
    <app-custom-form-control *ngIf="prop.type === 'text'"
      [formParent]="formParent"
      [prop]="prop">
    </app-custom-form-control>

    <ng-container *ngIf="prop.type === 'array'">
      <label>
        {{ prop.key }}:
      </label>
      <div [formArrayName]="prop.key" class="well well-lg">
        <div *ngFor="let user of formParent.controls[prop.key].controls; let i=index">
          <label>
            {{ prop.key }} #{{i + 1}}:
            <input class="form-control" [formControlName]="i">
          </label>
        </div>
        <button (click)="addControl(prop.key)" type="button">Add {{ prop.key }}</button>
      </div>
    </ng-container>
  </div>
</div>