<strong>{{ groupName }}:</strong>
<div [formGroup]="formParent">
  <div *ngFor="let prop of props">
    <app-custom-form-control *ngIf="prop.type === 'text'"
      [formParent]="formParent"
      [prop]="prop">
    </app-custom-form-control>

    <app-custom-form-array *ngIf="prop.type === 'array'"
      [formParent]="formParent"
      [prop]="prop">
    </app-custom-form-array>

    <app-custom-form-object *ngIf="prop.type === 'object'"
      [formParent]="formParent.controls[prop.key]"
      [propParent]="prop"
      [groupName]="prop.key">
    </app-custom-form-object>

    <label *ngIf="prop.type === 'select'">
      <select (change)="test($event.target.value)">
        <option *ngFor="let opt of prop.options" [value]="opt">{{opt}}</option>
      </select>
    </label>

  </div>
</div>